// front face text flow
@keyframes fadeLeftRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeTopBottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeBottomTop {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// .header-flow > * {
//   opacity: 0;
// }
// .header-flow > *:nth-child(1) {
//   animation: fadeBottomTop 1s ease-in-out 0.3s forwards;
// }
// .header-flow > *:nth-child(2) {
//   animation: fadeBottomTop 1s ease-in-out 0.6s forwards;
// }
// .header-flow > *:nth-child(3) {
//   animation: fadeBottomTop 1s ease-in-out 0.9s forwards;
// }

// that one section with three pics hover text bar animation

@keyframes barFlow {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider-card:hover .bar-flow {
  transition: all 0.5s ease-in-out;
  animation: barFlow 1.6s ease-in-out backwards infinite;
}
