html {
  font-size: cssvar(font-size);
}

body {
  font-family: cssvar(font-family);
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 12px;
}

button {
  padding: 8px 1rem;
  background-color: #65c;
  color: #ffffff;
  border-radius: 6px;
}
