.popup-content {
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  &.active {
    pointer-events: all;
  }
}

#search-popup {
  transform: translateY(-100%);

  &.active {
    transform: translateY(0);
  }
}

#login-popup {
  transform: translateX(-100%) translateY(-50%);
  opacity: 0;

  &.active {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

#cart-popup {
  transform: translateX(100%);
  opacity: 0;

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}

.page-shadow-popup {
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.active {
    opacity: 1;
  }
}
